.intro-description {
    font: normal normal medium 16px/22px Montserrat Medium;
    letter-spacing: 0px;
    color: #505050;
}

.seleted-details-card{
    min-height: 260px; 
    width: 50%; 
    border: 1px solid #505050; 
    border-radius: 6px; 
    padding: 12px;
}
@media screen and (max-width:1480px) {
    .seleted-details-card{ 
        width: 70%;
    }
}
.download-btn{
    background-color: #03A64A;
    color: #ffffff;
}