<!-- Missing Data-->
<div dir="{{sitealignment}}">
  <span *ngIf="input.case === 'missingData'">
    <div class="table-container">
      <h2 class="filter-heading">{{ input.title[primaryLangCode] }}</h2>
      <mat-divider></mat-divider>
      <table class="mat-table">
        <tr class="mat-row sticky-header">
          <th class="mat-header-cell table-header sticky-header" *ngFor="let col of input.columnNames;">
            <span>{{col[primaryLangCode]}}</span>
          </th>
        </tr>
        <tr *ngFor="let data of missingData; index as i" class="mat-header-row">
          <td id="data{{i}}" (click)="navigateToItem(data)" class="mat-cell">{{data.id}}</td>
          <td (click)="navigateToItem(data)" class="mat-cell">{{data.fieldValue}}</td>
        </tr>
      </table>
      <p *ngIf="noMissingDataFlag" style="text-align: center">{{'center.popupMessages.noData.message' | translate}}</p>
      <div *ngIf="!noMissingDataFlag && !(missingData.length > 0)" style="display: flex; justify-content: center;">
        <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
      </div>
    </div>
    <div class="pop-up">
      <div mat-dialog-actions class="pop-up-footer">
        <span><button mat-button cdkFocusInitial id="dismiss" (click)="dismiss()">{{'center.cancel' |
            translate}}</button></span>
      </div>
    </div>
  </span>


  <!-- UnlockConfirmation PopUp -->

  <div class="pop-up" *ngIf="input.case === 'UNLOCKCONFIRMATION'">
    <div class="pop-up-header">
      <b mat-dialog-title>{{ input.title }}</b>
      <div mat-dialog-content>
        <p style="white-space: pre-line">
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
            <mat-radio-button class="example-radio-button" id="noTime" value="noTime">Unlock until further changes are
              made</mat-radio-button>
            <mat-radio-button class="example-radio-button" id="setTime" value="setTime">Unlock until DD:HH:MM
            </mat-radio-button>
          </mat-radio-group>
        </p>
        <table cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <input matInput #days placeholder="Days" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <input matInput #hours placeholder="Hours" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <input matInput #minutes placeholder="Minutes" />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div mat-dialog-actions class="pop-up-footer">
      <span><button type="button" mat-button [mat-dialog-close]="confirm" cdkFocusInitial id="confirmpopup">
          {{ input.yesBtnTxt }}
        </button></span>
    </div>
  </div>

  <!-- Confirmation PopUp -->

  <div class="pop-up" *ngIf="input.case === 'CONFIRMATION'">
    <div class="pop-up-header">
      <b mat-dialog-title>{{ input.title }}</b>
      <div mat-dialog-content>
        <p style="white-space: pre-line">{{ input.message }}</p>
      </div>
    </div>
    <div mat-dialog-actions class="pop-up-footer">
      <span><button mat-button id="closeconfirmpopup" [mat-dialog-close]="!confirm">
          {{ input.noBtnTxt }}
        </button></span>
      <span><button type="button" mat-button [mat-dialog-close]="confirm" cdkFocusInitial id="confirmpopup">
          {{ input.yesBtnTxt }}
        </button></span>
    </div>
  </div>

  <!-- Message PopUp -->
  <div class="pop-up" *ngIf="input.case === 'MESSAGE'" [style.backgroundColor]="popMsgbgColor"
    [style.color]="popMsgColor" [style.borderColor]="popMsgColor">
    <div class="infro-card">
      <img [src]="icon" height="35px" width="35px" class="pop-up-icon" />
      <div class="pop-up-header">
        <div mat-dialog-content>
          <div>
            <p>{{input.message}} <span (click)="viewDetails(input.eventId)"
                class="navigate-link">{{input.clickHere}}</span></p>
            <p><span style="font-weight: 600;">{{input.passwordCombinationHeading}}</span>{{input.passwordCombination}}</p>
          </div>
        </div>
      </div>
    </div>
    <div mat-dialog-actions class="pop-up-footer">
      <span><button style="background-color:#03A64A; margin-top: 0px;" *ngIf="input.btnTxt === 'OK' " mat-button cdkFocusInitial
          id="confirmmessagepopup" (click)="dismiss()">
          {{ input.btnTxt }}
        </button></span>
      <span><button style="background-color:#03A64A; margin-top: 0px;" *ngIf="input.btnTxt === 'Yes' && input.yesBtnFor === 'Vid' " mat-button cdkFocusInitial
          id="confirmmessagepopup" (click)="vidWarning()">
          {{ input.btnTxt }}
        </button></span>
        <span><button style="background-color:#03A64A; margin-top: 0px;" *ngIf="input.btnTxt === 'Yes' && input.yesBtnFor === 'lockunlockauth' " mat-button cdkFocusInitial
          id="confirmmessagepopup" (click)="lockunlockauthWarning()">
          {{ input.btnTxt }}
        </button></span>
      <span><button *ngIf="input.btnTxt === 'Delete'" style="background-color:red; margin-top: 0px;" mat-button cdkFocusInitial
          id="confirmmessagepopup" (click)="vidDelete()">
          {{ input.btnTxt }}
        </button></span>
        <span><button *ngIf="input.btnTxt === 'Download'" style="background-color:#03A64A; margin-top: 0px;" mat-button cdkFocusInitial
          id="confirmmessagepopup" (click)="vidDownload()">
          {{ input.btnTxt }}
        </button></span>
      <span><button style="margin-top: 0px;" *ngIf="input.btnTxtNo === 'No' " mat-button cdkFocusInitial id="confirmmessagepopup"
          (click)="dismiss()">
          {{ input.btnTxtNo }}
        </button></span>
    </div>
  </div>

  <!-- Access denied -->
  <div *ngIf="input.case === 'accessDenied'" style="padding: 12px; border: 1px solid red; background-color: #FFD9D8; color: red; border-radius: 8px;"  >
    <div style="display: flex; align-items: start;">
      <img src="./assets/cancel_icon.png" height="35px" width="35px" class="pop-up-icon" />
    <p style="font-size: 14px; margin-left: 12px;">{{input.message}} <span (click)="logOut()"
      class="navigate-link">{{input.clickHere.replace(".","")}}</span>{{input.relogin}}</p>
    </div>
    <div mat-dialog-actions class="pop-up-footer">
        <button mat-button cdkFocusInitial (click)="dismissPage()">{{input.btnTxt}}</button>
    </div>
  </div>

  <!-- ERROR -->

  <div class="pop-up" *ngIf="input.case === 'ERROR'">
    <div class="infro-card">
      <img [src]="icon" height="35px" width="35px" class="success-img" />
      <div class="pop-up-header">
        <b mat-dialog-title>{{ input.title }}</b>
        <div mat-dialog-content>
          <p>{{ input.message }}</p>
          <div [innerText]="input.message"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="pop-up" *ngIf="input.case === 'STEPS-MESSAGE'">
    <div class="pop-up-header">
      <b mat-dialog-title>{{ createUpdateSteps.title }}</b>
      <div mat-dialog-content>
        <p>{{ input.message }}</p>
      </div>
    </div>
    <div mat-dialog-actions class="pop-up-footer">
      <span><button mat-button cdkFocusInitial (click)="dismiss()">
          OK
        </button></span>
    </div>
  </div>

  <div class="pop-up" *ngIf="input.case === 'NOZONE'">
    <div class="pop-up-header">
      <b mat-dialog-title>{{ input.title }}</b>
      <div mat-dialog-content>
        <div [innerText]="input.message"></div>
      </div>
    </div>
    <div mat-dialog-actions class="pop-up-footer">
      <span><button mat-button cdkFocusInitial id="confirmmessagepopup" (click)="logout()">
          {{ input.btnTxt }}
        </button></span>
    </div>
  </div>

  <!-- terms and  Conditions for share with partner-->
  <div style="padding: 1rem;" *ngIf="input.case === 'termsAndConditions'">
    <h4>{{ input.title }}</h4>
    <ol class="conditions-card">
      <ng-container *ngFor="let condition of input.conditions">
        <li>{{condition}}</li>
      </ng-container>
    </ol>
    <div class="agree-card">
      <div class="agree-test-card">
        <!-- <img src="./assets/images/checkbox_sel.png" /> -->
        <input (change)="agreeConditions()" name="isChecked" class="conditions-checkbox" type="checkbox" />
        &nbsp;
        <p class="agree-text">{{input.agreeLabel}}</p>
      </div>
      <button [disabled]="isChecked" [style.color]="'#ffffff'" [style.background]=" isChecked ? '#909090':'#03A64A' " mat-button (click)="shareInfoBtn(input.id)" class="share-btn">{{ input.btnTxt }}</button>
    </div>
  </div>

  <!-- termsAndConditionsForUpdateMyData -->
  <div style="padding: 1rem;" *ngIf="input.case === 'termsAndConditionsForUpdateMyData'">
    <h4>{{ input.title }}</h4>
    <ol class="conditions-card">
      <ng-container *ngFor="let condition of input.conditions">
        <li>{{condition}}</li>
      </ng-container>
    </ol>
    <div class="agree-card">
      <div class="agree-test-card">
        <!-- <img src="./assets/images/checkbox_sel.png" /> -->
        <input (change)="agreeConditions()" name="isChecked" class="conditions-checkbox" type="checkbox" />
        &nbsp;
        <p class="agree-text">{{input.agreeLabel}}</p>
      </div>
      <button [disabled]="isChecked" mat-button [style.background]=" isChecked ? '#909090':'#03A64A' " [style.color]="'#ffffff'"  (click)="shareInfoForUpdateMyData(input.id)" class="share-btn">{{ input.btnTxt }}</button>
    </div>
  </div>

  <!-- Conditions for personalised card -->

  <div style="padding: 1rem;" *ngIf="input.case === 'conditionsForPersonalisedCard'">
    <h3 style="color: #000000; text-align:center;">{{input.description.title}}</h3>
    <div class="permission-card">
      <mat-card-subtitle class="permission-card-text">{{input.description.wishes}}</mat-card-subtitle>
      <mat-card-subtitle class="permission-card-text">{{input.description.description}}</mat-card-subtitle>
      <mat-card-subtitle class="permission-card-text"
        style="margin-bottom: 0px;">{{input.description.sendVid}}</mat-card-subtitle>
      <div class="personalised-agree-card">
        <img src="./assets/images/checkbox_sel.png" />
        &nbsp;
        <mat-card-subtitle class="permission-card-text"
          style="margin-top: 1rem;">{{input.description.agreeLabel1}}</mat-card-subtitle>
      </div>
      <div class="personalised-agree-card">
        <img src="./assets/images/checkbox_sel.png" />
        &nbsp;
        <mat-card-subtitle class="permission-card-text"
          style="margin-top: 1rem;">{{input.description.agreeLabel1}}</mat-card-subtitle>
      </div>
    </div>
    <div style="text-align: right; margin-top: 12px;">
      <button mat-button class="share-btn" (click)="downloadPersonalCard()">{{input.btnTxt}}</button>
    </div>
  </div>

  <!-- checking-->
  <div class="pop-up" *ngIf="input.case === 'POPUP'">
    <div class="infro-card">
      <!-- <img [src]="icon" height="35px" width="35px" class="success-img" /> -->
      <div class="pop-up-header">
        <!-- <b mat-dialog-title>{{ input.title }}</b> -->
        <div mat-dialog-content>
          <div [innerText]="input.message"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- OTP Message-->
  <div class="pop-up" *ngIf="input.case === 'OTP'">
    <div class="pop-up-header otp-popup">
      <p class="otp-time-heading">{{'verifyuinvid.subTitle' | translate}}<span class="otp-expire-time">
        0{{otpTimeMinutes}}:{{displaySeconds}}</span>
      </p>
      <br/>
      <label class="label-text" for="otp-input">{{'verifyuinvid.inputLabel' | translate}}</label>
      <br />
      <input  #box (keyup)="getInputValues(box.value)" placeholder="Enter OTP here" id="otp-input"
        class="enter-opt-input" type="text" />
        <div class="otp-infromation-card"> <p  class="otp-infromation-text">{{input.message}}<span class="mobile-number">
          {{input.newContact}}</span>.</p></div>
    <div mat-dialog-actions class="pop-up-footer">
      <button  [style.backgroundColor]="resendBtnBgColor" class="button" [disabled]="resendBtnDisabled"  mat-button (click)="sendResponse('resend')" >
          {{input.resentBtnTxt}}
        </button>
        <button  [style.backgroundColor]="submitBtnBgColor" class="button" [disabled]="submitBtnDisabled" mat-button (click)="sendResponse(box.value)">
          {{input.submitBtnTxt}}
        </button>
    </div>
  </div>
  </div>

</div>