<span class="breadcrumb">
	<a (click)="onItemSelected('dashboard')">{{'dashboard.home' | translate}} &nbsp;&nbsp;</a> > &nbsp;&nbsp;<a (click)="onItemSelected('uinservices/dashboard')">{{'dashboard.uinservices' | translate}} &nbsp;&nbsp;</a> > &nbsp;&nbsp;<span class="active">{{'trackservicerequest.title' | translate}}</span>
</span>

<div class="main-div" *ngIf="langJSON">
	<mat-card>
		<table style="width: 100%;">
			<tr>
				<td style="padding: 10px; color:#505050; font-size: 22px;"><span>{{'trackservicerequest.title2' | translate}} </span></td>
			</tr>
			<tr>
				<td style="color: #909090;">
					{{'trackservicerequest.descriptionText' | translate}}
				</td>
			</tr>
			<tr>
				<td style="padding: 10px;">
					<label class="label-card">{{'trackservicerequest.searchLabel' | translate}}<span style="color: #FF0000; margin-bottom:8px;">*</span>
						<mat-icon  (mouseover)="openPopupMsg()" (mouseout)="openPopupMsg()" class="info-icon" matTooltip="">info</mat-icon>
					</label>
					<div *ngIf="isPopUpShow" class="info-box">
						<p style="margin-top: 0px;">{{infoText}}</p>
					</div>
          			<input type="text" id="appIdValue" name="appIdValue" value={{eidVal}} (blur)="captureValue($event, 'eidVal', 'textbox')" placeholder="{{'trackservicerequest.searchPlaceholder' | translate}}" />&nbsp;&nbsp;&nbsp;&nbsp;
					<button id="getEIDStatusbtn" mat-raised-button style="width:100px;height: 36px;font-size: 16px;" color="primary" (click)="getEIDStatus()">{{'trackservicerequest.searchButton' | translate}}</button>
				</td>
			</tr>
		</table>
		<div *ngIf="eidStatus" class="trackDetails">
		<table   style="width: 100%; border-radius: 10px; border-collapse: collapse;">
			<tr style="border-bottom: 1px solid silver;">
				<td colspan="2">
					<table style="width: 100%;">
						<tr>
							<td><label>{{'trackservicerequest.eventId' | translate}}</label></td>
							<td><label>{{'trackservicerequest.eventType' | translate}}</label></td>
							<td><label>{{'trackservicerequest.eventStatus' | translate}}</label></td>
						</tr>
						<tr>
							<td>{{eidStatus.eventId}}</td>
							<td>{{eidStatus.eventType}}</td>
							<td>{{eidStatus.eventStatus}}</td>
						</tr>
					</table>					
				</td>
			</tr>			
			<tr style="padding:10px;">
				<td><label>{{'trackservicerequest.description' | translate}}</label></td>
				<td><label>{{'trackservicerequest.individualId' | translate}}</label></td>
			</tr>
			<tr style="border-bottom: 1px solid silver;padding:10px;">
				<td>{{eidStatus.info.description}}</td>
				<td>{{eidStatus.individualId}}</td>
			</tr>
			<tr style="padding:10px;">
				<td><label>{{'trackservicerequest.authenticationMode' | translate}} </label></td>
				<td><label>{{'trackservicerequest.vidType' | translate}}</label></td>
			</tr>
			<tr style="border-bottom: 1px solid silver;padding:10px;">
				<td>{{eidStatus.info.authenticationMode}}</td>
				<td>{{eidStatus.info.vidType}}</td>
			</tr>
			<tr style="padding:10px;">
				<td><label>{{'trackservicerequest.vid' | translate}}</label></td>
				<td><label>{{'trackservicerequest.timestamp' | translate}}</label></td>
			</tr>
			<!-- style="border-bottom: 1px solid silver;padding:10px;" -->
			<tr style="padding:10px;">
				<td>{{eidStatus.info.vid}}</td>
				<td>{{eidStatus.timestamp}}</td>
			</tr>
		</table>
		<div style="text-align: right;">
			<button id="downloadAcknowledgementbtn" style="cursor: pointer;" class="download-btn" (click)="downloadAcknowledgement()"><img class="save-icon" src="./assets/images/save.png"/>{{'trackservicerequest.downloadbuttonLabel' | translate}}</button>
		</div>
	</div>

	</mat-card>	
</div>


