input {
  width: 300px;
  height: 36px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #909090;
  border-radius: 5px;
  opacity: 1;
  padding: 10px;
}

::placeholder {
  text-align: left;
  font: normal normal normal 12px/14px Roboto;
  letter-spacing: 0px;
  color: #BCBCBC;
  opacity: 1;
}

.track-btn{
  width:100px;
  height: 36px;
  font-size: 16px;
  color: #ffffff;
  background-color: #03A64A;
}

td>label {
  font-size: 12px;
}
td{
  width: 30%;
}

table {
  border: none;
}

td {
  padding: 10px;
}

.trackDetails {
  padding: 1rem !important;
  border-radius: 10px;
  border: 2px solid #909090;
  word-break: break-all
}

.download-btn {
  border: 1px solid #03A64A;
  border-radius: 5px;
  opacity: 1;
  min-width: 125px;
  max-width: 150px;
  min-height: 36px;
  background-color: transparent;
  color: #03A64A;
  align-items: center;
  display: flex;
}
.save-icon{
  margin: 0 8px 0 8px;
}

.info-icon{
  color: green;
  font-size: 18px; 
  cursor: pointer;
  margin-left: 4px;
}
.label-card{
  color: #909090; 
  size: 12px; 
  display: flex; 
}

.info-box{
  margin-top: 42px;
  min-height: 90px;
  width: 200px;
  border-radius: 8px;
  padding: 8px 12px 8px 12px;
  position: absolute ;
  background-color: #ffffff;
  /* top: -20px; */
  left: 194px; 
  /* display: inline-block; */
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  font-size: 10px;
}

.info-box:before{
  content: "";
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
  background: #ffffff;
  position: absolute;
  margin-left: -37px;
  z-index: -1;
  top: -10px;
  left: calc(50% - 10px);
  text-align: start;
  /* box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5); */
}
.click-here{
  text-decoration: underline;
  color: #03A64A;
  cursor: pointer;
}