<span class="breadcrumb">
	<!-- <a (click)="onItemSelected('dashboard')">{{'dashboard.home' | translate}} &nbsp;&nbsp;</a> > &nbsp;&nbsp; -->
	<a (click)="onItemSelected('uinservices/dashboard')">{{'dashboard.uinservices' | translate}} &nbsp;&nbsp;</a> >
	&nbsp;&nbsp;<a (click)="onItemSelected('uinservices/viewhistory')" *ngIf="source">{{"trackservicerequest.source" | translate}}&nbsp;&nbsp;></a> 
	&nbsp;&nbsp;<span class="active">{{'trackservicerequest.title' | translate}}</span>
</span>

<div class="main-div" *ngIf="langJSON">
	<mat-card>
		<table style="width: 100%;">
			<tr>
				<td style="padding: 10px; color:#505050; font-size: 22px;"><span>{{'trackservicerequest.title' |
						translate}} </span></td>
			</tr>
			<tr>
				<td style="color: #909090;">
					{{'trackservicerequest.descriptionText' | translate}}
				</td>
			</tr>
			<tr>
				<td style="padding: 10px;">
					<label class="label-card">{{'trackservicerequest.searchLabel' | translate}}<span
							style="color: #FF0000; margin-bottom:8px;">*</span>
						<mat-icon (mouseover)="openPopupMsg()" (mouseout)="openPopupMsg()" class="info-icon"
							matTooltip="">info</mat-icon>
					</label>
					<div *ngIf="isPopUpShow" class="info-box">
						<p style="margin-top: 0px;">{{infoText}}</p>
					</div>
					<input type="text" id="appIdValue" name="appIdValue" value={{eidVal}}
						(input)="captureValue($event, 'eidVal', 'textbox')"
						placeholder="{{'trackservicerequest.searchPlaceholder' | translate}}" />&nbsp;&nbsp;&nbsp;&nbsp;
					<button [disabled]="disableTrackBtn" id="getEIDStatusbtn" mat-raised-button class="track-btn"
						(click)="getEIDStatus()">{{'trackservicerequest.searchButton' | translate}}</button>
				</td>
			</tr>
		</table>
		<div class="spinner spinner2" *ngIf="isLoading">
			<mat-spinner></mat-spinner>
	   </div>
	   <div *ngIf="!isLoading">
		<div *ngIf="eidStatus" class="trackDetails">
			<table style="width: 100%; border-radius: 10px; border-collapse: collapse;">
				<tr>
					<td style="width:25%"><label>{{'trackservicerequest.eventId' | translate}}</label></td>
					<td style="width:25%"><label>{{'trackservicerequest.eventType' | translate}}</label></td>
					<td style="width:25%"><label>{{'trackservicerequest.description' | translate}}</label></td>
					<td style="width:25%"><label>{{'trackservicerequest.eventStatus' | translate}}</label></td>
				</tr>
				<tr style="border-bottom: 1px solid silver;">
					<td style="width:25%">{{eidStatus.eventId}}</td>
					<td style="width:25%">{{eidStatus.eventType}}</td>
					<td style="width:25%">{{eidStatus.info.description}}</td>
					<td style="width:25%">{{eidStatus.eventStatus}}</td>

				</tr>
				<tr style="padding:10px;">
					<td style="width:25%"><label>{{'trackservicerequest.individualId' | translate}}</label></td>
					<td style="width:25%"><label>{{'trackservicerequest.summary' | translate}}</label></td>
					<td style="width:25%"><label>{{'trackservicerequest.timestamp' | translate}}</label></td>
					<td style="width:25%"><label>{{'trackservicerequest.authenticationMode' | translate}} </label></td>
				</tr>
				<tr style="padding:10px;">
					<td style="width:25%">{{eidStatus.individualId}}</td>
					<td style="width:25%">{{eidStatus.summary.replace("$attributes",eidStatus.info.attributeList)}}</td>
					<td style="width:25%">{{eidStatus.timestamp}}</td>
					<td style="width:25%">{{eidStatus.info.authenticationMode}}</td>
				</tr>
				<!-- Download Personalized Card and Update my data -->
				<tr *ngIf="eidStatus.eventType === 'Download Personalized Card' || eidStatus.eventType === 'Update UIN Data' "
					style="padding:10px; border-top: 1px solid silver;">
					<td><label>{{'trackservicerequest.attributeList' | translate}} </label></td>
				</tr>
				<tr
					*ngIf="eidStatus.eventType === 'Download Personalized Card' || eidStatus.eventType === 'Update UIN Data' ">
					<td>{{eidStatus.info.attributeList}}</td>
				</tr>
				<!-- Authentication request -->
				<tr *ngIf="eidStatus.eventType === 'Authentication request' "
					style="padding:10px; padding:10px; border-top: 1px solid silver;">
					<td style="height: 40px; width: 40px;">image</td>
					<td><label>{{'trackservicerequest.partnerName' | translate}} </label></td>
				</tr>
				<tr *ngIf="eidStatus.eventType === 'Authentication request' ">
					<td>{{eidStatus.info.partnerLogo}}</td>
					<td>{{eidStatus.info.partnerName}}</td>
				</tr>
				<!-- Manage my VID	 -->
				<tr *ngIf="eidStatus.eventType === 'Generate Vid' "
					style="padding:10px; padding:10px; border-top: 1px solid silver;">
					<td><label>{{'trackservicerequest.vidType' | translate}} </label></td>
					<td><label>{{'trackservicerequest.vid' | translate}} </label></td>
				</tr>
				<tr *ngIf="eidStatus.eventType === 'Generate Vid' ">
					<td>{{eidStatus.info.vidType}}</td>
					<td>{{eidStatus.info.vid}}</td>
				</tr>
				<!-- Share credential with partner	 -->
				<tr *ngIf="eidStatus.eventType === 'Share Credential With Partner' "
					style="padding:10px; padding:10px; border-top: 1px solid silver;">
					<td style="width:25%"><label>{{'trackservicerequest.partnerLogo' | translate}} </label></td>
					<td style="width:25%"><label>{{'trackservicerequest.partnerName' | translate}} </label></td>
					<td style="width:25%"><label>{{'trackservicerequest.attributeList' | translate}} </label></td>
					<td style="width:25%"><label>{{'trackservicerequest.purpose' | translate}} </label></td>
				</tr>
				<tr *ngIf="eidStatus.eventType === 'Share Credential With Partner' ">
					<td style="width:25%">image</td>
					<td style="width:25%">{{eidStatus.info.partnerName}}</td>
					<td style="width:25%">{{eidStatus.info.attributeList}}</td>
					<td style="width:25%">{{eidStatus.info.purpose}}</td>
				</tr>
			</table>
			<div *ngIf="eidStatus.eventType === 'Generate Vid'"
				style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin-top: 1rem;">
				<button id="downloadVIDCardBtn" style="cursor: pointer;" class="download-btn"><img class="save-icon"
						src="./assets/images/save.png" />{{'trackservicerequest.downloadVIDCard' | translate}}</button>

				<button id="downloadAcknowledgementbtn" style="cursor: pointer;" class="download-btn"
					(click)="downloadAcknowledgement()"><img class="save-icon"
						src="./assets/images/save.png" />{{'trackservicerequest.downloadbuttonLabel' |
					translate}}</button>
			</div>
			<div *ngIf="eidStatus.eventType === 'Update UIN Data'"
				style="display: flex; justify-content: space-between; width: 100%; margin-top: 1rem;">
				<div>
				<button mat-raised-button id="downloadCardWithNewDataBtn" [disabled]="eidStatus.info.downloadLink === 'NA'" *ngIf="eidStatus.eventStatus === 'Success'" (click)="downloadVIDCard(eidStatus.eventId)" class="download-btn"><img
						class="save-icon"
						src="./assets/images/save.png" />{{'trackservicerequest.downloadUINCard' |
					translate}}</button>
				</div>
				<button id="downloadAcknowledgementbtn" style="cursor: pointer;" class="download-btn"
					(click)="downloadAcknowledgement()"><img class="save-icon"
						src="./assets/images/save.png" />{{'trackservicerequest.downloadbuttonLabel' |
					translate}}</button>
			</div>
			<div *ngIf="eidStatus.eventType === 'Download VID Card' "
				style="display: flex; justify-content: space-between; width: 100%; margin-top: 1rem;">
				<div>
				<button mat-raised-button [disabled]="eidStatus.info.downloadLink === 'NA'" *ngIf="eidStatus.eventStatus === 'Success'" (click)="downloadVIDCard(eidStatus.eventId)" id="downloadCardWithNewDataBtn" class="download-btn"><img
						class="save-icon"
						src="./assets/images/save.png" />{{'trackservicerequest.downloadVIDCard' |
					translate}}</button>
				</div>
				<button id="downloadAcknowledgementbtn" style="cursor: pointer;" class="download-btn"
					(click)="downloadAcknowledgement()"><img class="save-icon"
						src="./assets/images/save.png" />{{'trackservicerequest.downloadbuttonLabel' |
					translate}}</button>
			</div>
			<div *ngIf="eidStatus.eventType !== 'Update UIN Data' && eidStatus.eventType !== 'Generate Vid' && eidStatus.eventType !== 'Download VID Card' "
				style="display: flex; justify-content: flex-end; width: 100%; margin-top: 1rem;">
				<button id="downloadAcknowledgementbtn" style="cursor: pointer;" class="download-btn"
					(click)="downloadAcknowledgement()"><img class="save-icon"
						src="./assets/images/save.png" />{{'trackservicerequest.downloadbuttonLabel' |
					translate}}</button>
			</div>

		</div>
		<P *ngIf="eidStatus">{{'trackservicerequest.raiseSupportRequest' | translate}} <span class="click-here" (click)="navigateGrievance(eidStatus.eventId)">{{'trackservicerequest.clickHere' | translate}}</span></P>
	</div>
	</mat-card>
</div>