<span class="breadcrumb">
	<a (click)="onItemSelected('dashboard')">{{'dashboard.home' | translate}} &nbsp;&nbsp;</a> > &nbsp;&nbsp;<a (click)="onItemSelected('uinservices/dashboard')">{{'dashboard.uinservices' | translate}} &nbsp;&nbsp;</a> > &nbsp;&nbsp;<span class="active">{{'trackservicerequest.title' | translate}}</span>
</span>

<div class="main-div" *ngIf="langJSON">
	<mat-card>
		<table style="width: 100%;">
			<tr>
				<td style="padding: 10px; color:#505050; size: 20px;"><span>{{'trackservicerequest.title' | translate}} </span></td>
			</tr>
			<tr>
				<td style="padding: 10px;">
					<label style="color: #909090; size: 12px;">{{'trackservicerequest.searchLabel' | translate}}<span style="color: #FF0000; margin-bottom:8px;">*</span></label>
					<br/>
          			<input type="text" id="appIdValue" name="appIdValue" value={{aidVal}} (blur)="captureValue($event, 'aidVal', 'textbox')" placeholder="{{'trackservicerequest.searchPlaceholder' | translate}}" />&nbsp;&nbsp;&nbsp;&nbsp;<button mat-raised-button style="width:100px;height: 36px;font-size: 16px;" color="primary" (click)="getAIDStatus()">{{'trackservicerequest.searchButton' | translate}}</button>
				</td>
			</tr>
		</table>
		<!-- *ngIf="aidStatus" -->
		<div *ngIf="aidStatus" class="trackDetails">
		<table   style="width: 100%;border-radius: 10px; border-collapse: collapse;">
			<tr style="border-bottom: 1px solid silver;">
				<td colspan="2">
					<table style="width: 100%;">
						<tr>
							<td><label>{{'trackservicerequest.eventId' | translate}}</label></td>
							<td><label>{{'trackservicerequest.eventType' | translate}}</label></td>
							<td><label>{{'trackservicerequest.eventStatus' | translate}}</label></td>
						</tr>
						<tr>
							<td>{{aidStatus.eventId}}</td>
							<td>{{aidStatus.eventType}}</td>
							<td>{{aidStatus.eventStatus}}</td>
						</tr>
					</table>					
				</td>
			</tr>			
			<tr style="padding:10px;">
				<td><label>{{'trackservicerequest.description' | translate}}</label></td>
				<td><label>{{'trackservicerequest.individualId' | translate}}</label></td>
			</tr>
			<tr style="border-bottom: 1px solid silver;padding:10px;">
				<td>{{aidStatus.info.description}}</td>
				<td>{{aidStatus.individualId}}</td>
			</tr>
			<tr style="padding:10px;">
				<td><label>{{'trackservicerequest.authenticationMode' | translate}}</label></td>
				<td><label>{{'trackservicerequest.vidType' | translate}}</label></td>
			</tr>
			<tr style="border-bottom: 1px solid silver;padding:10px;">
				<td>{{aidStatus.info.authenticationMode}}</td>
				<td>{{aidStatus.info.vidType}}</td>
			</tr>
			<tr style="padding:10px;">
				<td><label>{{'trackservicerequest.vid' | translate}}</label></td>
				<td><label>{{'trackservicerequest.timestamp' | translate}}</label></td>
			</tr>
			<!-- style="border-bottom: 1px solid silver;padding:10px;" -->
			<tr>
				<td>{{aidStatus.info.vid}}</td>
				<td>{{aidStatus.timestamp}}</td>
			</tr>
		</table>
	</div>

	</mat-card>	
</div>


