<span class="breadcrumb">
  <a (click)="onItemSelected('home')">{{'dashboard.home' | translate}} &nbsp;&nbsp;</a>
  >&nbsp;&nbsp;{{'dashboard.getinformation' | translate}}&nbsp;&nbsp;>&nbsp;&nbsp;<span
    class="active">{{'dashboard.document' | translate}}</span>
</span>

<div class="details-main-card">
  <div class="details-card">
  <mat-tab-group  class="tabs" (selectedTabChange)="onItemSelected($event)" [selectedIndex]="1">
    <mat-tab label="{{'dashboard.regcenter' | translate}}"></mat-tab>
    <mat-tab label="{{'dashboard.document' | translate}}"></mat-tab>
  </mat-tab-group>
  <embed *ngIf="pdfSrc" [src]="pdfSrc | sanitizepdf" height="100%" width="100%">
  </div>
</div>
