<span class="breadcrumb">
        <a (click)="onItemSelected('home')">{{'dashboard.home' | translate}} &nbsp;&nbsp;</a> >&nbsp;&nbsp;{{'dashboard.getinformation' | translate}}&nbsp;&nbsp;>&nbsp;&nbsp;<span class="active">{{'dashboard.regcenter' | translate}}</span>
</span>
<div class="spinner" *ngIf="!isWorkingDaysAvailable">
  <mat-spinner></mat-spinner>
</div>
<div class="details-main-card" *ngIf="isWorkingDaysAvailable">
<div class="details-card">
<mat-tab-group  class="tabs" (selectedTabChange)="onItemSelected($event)">
  <mat-tab label="{{'dashboard.regcenter' | translate}}"></mat-tab>
  <mat-tab label="{{'dashboard.document' | translate}}"></mat-tab>
</mat-tab-group>
<div [dir]="textDir" class="center_selection-wrapper" *ngIf="isWorkingDaysAvailable">
  <!-- search container -->
  <div class="container">
    <div class="centers-wrapper">
      <!-- search container -->
      <div class="center_selection-intial-recommendation-container" *ngIf="searchClick; else elseBlock">
        <span class="spacer"></span>
        <!-- <button
          type="button"
          matTooltip="{{ 'helpText.magnifying_glass' | translate }}"
          mat-icon-button
          class="search-btn"
          (click)="setSearchClick(false)"
        >
          <img src="assets\search.png" />
        </button> -->
      </div>
      <ng-template #elseBlock>
        <div class="center_selection-form-container">
          <div *ngIf="REGISTRATION_CENTRES" class="center_selection-center_recommendation-display">
            <button mat-button class="center_selection-nearby-btn" (click)="getLocation()">
              {{ 'centerSelection.action_nearBy' | translate }} &nbsp;&nbsp;
              <mat-icon matTooltip="{{ 'helpText.nearBy' | translate }}" [inline]="true">help_outline</mat-icon>
            </button>
            <span *ngIf="nearbyClicked">
              <mat-icon (click)="resetPagination();setSearchClick(true);" class="name-delete-button">close</mat-icon>
            </span>
            <br />
          </div>
          <form class="search-form">
            <mat-card class="select-card" style="padding: 7px;">
              <mat-select
               style="font-size: 11.5px;"
                disableOptionCentering
                name="select"
                class="select-input"
                [(ngModel)]="locationType"
                value="locationType"
                (selectionChange)="onChangeLocationType()"
                placeholder="{{ 'centerSelection.text_select' | translate }}"
              >
                <mat-option style="color:black;" *ngFor="let locationType of locationTypes" [value]="locationType">
                  {{ locationType.hierarchyLevelName }}
                </mat-option>
              </mat-select>
            </mat-card>
            <mat-card class="search-card" >
              <input
                *ngIf="locationType !== null"
                mat-input
                type="search"
                placeholder="{{ 'centerSelection.text_enter' | translate }} {{ locationType.hierarchyLevelName }}"
                name="search"
                class="search-input"
                [(ngModel)]="searchText"
                (keyup.enter)="showResults()"
              />
              <input
                *ngIf="locationType === null"
                mat-input
                type="search"
                placeholder="{{ 'centerSelection.text_search' | translate }}"
                name="search"
                class="search-input"
                [(ngModel)]="searchText"
              />
              <!-- <button
                matTooltip="{{ 'helpText.magnifying_glass' | translate }}"
                mat-icon-button
                type="submit"
                (click)="showResults()"
              >
                <img src="assets\search_grey.png" />
              </button>
              <button mat-icon-button class="search-cancel-btn" type="button" (click)="setSearchClick(true);resetPagination();">
                <img src="assets\close.png" />
              </button> -->
            </mat-card>
          </form>
        </div>
        <span class="search-text" *ngIf="searchTextFlag">{{ displayMessage }}</span>
      </ng-template>

      <div class="centers-list" *ngIf="REGISTRATION_CENTRES.length >0">
        <!-- <span
          *ngIf="!showMessage && !searchClick && REGISTRATION_CENTRES.length !== 0"
          style="margin-left:24px;"
          class="center_selection-center-available-text"
        >
          {{ 'centerSelection.text_found' | translate }}
          {{ REGISTRATION_CENTRES.length > this.totalItems ? REGISTRATION_CENTRES.length: this.totalItems }}
          {{ 'centerSelection.text_centers' | translate }}
        </span> -->
        <span
          *ngIf="showMessage  && REGISTRATION_CENTRES.length === 0"
          style="margin-left:24px;"
          class="center_selection-center-available-text"
        >
          {{ 'centerSelection.noResult_found' | translate }}
        </span>
        <ul>
          <li *ngFor="let center of REGISTRATION_CENTRES; let i = index;">
            <div  [ngClass]="REGISTRATION_CENTRES.length === i+1 ? 'center-card item' :'center-card'">
              <div>
                <div class="inline-flex" [dir]="textDir">                  
                  <div>
                    <strong>{{center.name}}</strong>
                  <!--   <strong *ngIf="center.addressLine1 != null && center.addressLine1 != ''">
                      {{ ', ' + center.addressLine1}}
                    </strong>
                    <strong *ngIf="center.addressLine2 != null && center.addressLine2 != ''">
                      {{ ', ' + center.addressLine2}}
                    </strong>
                    <strong *ngIf="center.addressLine3 != null && center.addressLine3 != ''">
                      {{ ', ' + center.addressLine3}}
                    </strong> -->
                  </div>
                </div>
                <div>
                  <!-- <span *ngIf="center.contactPerson !== ''"><img src="assets\contact number.png"/></span> -->
                  <span  *ngIf="center.contactPerson !== ''">
                    {{ center.contactPerson}}
                  </span>
                 <!--  <span  *ngIf="center.contactPerson !== '' && center.contactPhone !== ''">
                    {{ ', ' +  center.contactPhone }}
                  </span>
                  <span  *ngIf="center.contactPerson == '' && center.contactPhone !== ''">
                    {{ center.contactPhone }}
                  </span> -->
                </div>
              </div>
              <span class="spacer"></span>
              <div>
                <div >
                  <span>
                    <div><img src="assets\address.png" (click)="selectedRow(center)" style="cursor:pointer;" /></div>
                    <div><span  *ngIf="center.contactPerson !== '' && center.contactPhone !== ''">{{ center.contactPhone }}</span><span *ngIf="center.contactPerson == '' && center.contactPhone !== ''">{{ center.contactPhone }}</span></div>
                    <div [dir]="textDir">
                      {{ 'centerSelection.text_timing' | translate }} :
                      <span dir="ltr">
                        {{
                        showTime(center.centerStartTime.substring(0, 5), center.centerEndTime.substring(0, 5))
                        }}
                      </span>
                    </div>
                    <div [dir]="textDir">
                      <span
                        *ngIf="center.lunchStartTime !== null && center.lunchEndTime !== null && center.lunchStartTime !== center.lunchEndTime">
                        {{ 'centerSelection.lunch_hours' | translate }}:
                        <span dir="ltr">
                          {{
                          showTime(center.lunchStartTime.substring(0, 5),center.lunchEndTime.substring(0, 5))
                          }}
                        </span>
                      </span>
                  </div>
                  </span>
                </div>
                <div [dir]="textDir">
                  <span>{{ 'centerSelection.text_open' | translate }}: {{ center.workingDays }}</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="pagination" dir="ltr">
      <span  *ngIf="this.totalItems !== 0">
        <mat-paginator 
          [length]="this.totalItems"
          [pageSize]="this.pageSize"
          [pageSizeOptions]="this.pageSizeOptions"
          (page)="showResults(pageEvent = $event)"
          >
        </mat-paginator>
      </span>
    </div>
    </div>

    <div class="map" *ngIf="showMap">
      <app-map style="width:100%; height: 100%;" [mapProvider]="mapProvider"></app-map>
    </div>
  </div>
</div>
</div>
</div>
