/* .expansionPanelPlacer{
    margin: 30px 30px;
    padding: 15px 15px;
}

.spacer{
    margin: 15px 0 0 0;
}

.inlineSpacer{
    margin: 0 35px 0 0;
}

.right-align{
    text-align: right;
}

.img-spacer{
    margin: 0 0 0 -6px;
    cursor: pointer;
}

.hyperlink{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.map-placer{
    position: relative;
}

@media(max-width: 500px) {
    .expansionPanelPlacer{
        padding: 0;
        margin: 5px;
    }
}

@media(max-width: 765px) {

    .mat-table {
        overflow: auto;
      }

    .mat-header-row, .mat-row {
        min-width: 1000px;
      }
} */

.details-main-card{
  display: flex;
  justify-content: center;
}

::ng-deep .mat-tab-label.mat-tab-label-active {
  background-color: transparent;
  color: #03A64A;
  font-weight: 700;
  /* border-bottom-color: #03A64A !important; */
}

.details-card {
  width: 100%;
  height: 750px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 5px #00000014;
  border-radius: 10px;
  opacity: 1;
  margin: 1.5rem 1.5rem 1.5rem 3.4rem;
  padding: .3rem 1rem .3rem 1rem;
}

.spinner {
  flex-direction: column;
  align-items: center;
  margin-top: 18vw;
  display: flex;
}

mat-card {
  border-radius: 10px !important;
}

.center__title-card-text {
  font-size: 15px;
  font-weight: 600;
}

.inline-flex {
  display: inline-flex;
}

.center_selection-wrapper {
  margin: 5px 0vw;
}

.center-selection__title-card {
  color: #ff4081;
  padding: 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 2px !important;
}

.center-selection__button-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2px 2vw;
  display: flex;
  z-index: 22;
}

.spacer {
  flex: 1 1 auto;
}

section {
  display: flex;
}

.centers-wrapper {
  margin-left: 0px;
  margin-right: 2vw;
  width: 30%;
  height: 40rem;
}

.centers-list ul {
  list-style-type: none;
  padding: 0%;
  font-size: 0.65rem;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border: 2px solid #BCBCBC;
  border-radius: 3px;
}

.center-card {
  margin: 1.5% 0;
  display: flex;
  padding: 1rem;
  border-bottom: 2px solid #BCBCBC;
}

.item{
  border-bottom: none !important;
}

/* .center-card-selected {
  border: 1px solid #fd518c;
} */

input[type="radio"] {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  height: 2rem;
  margin-right: 1.2rem;
}

.map {
  width: 63%;
  display: flex;
}

.container {
  display: flex;
  margin-bottom: 60px;
}

.center-selection__button-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2px 2vw;
  display: flex;
  z-index: 22;
}

.center_selection-intial-recommendation-container {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.center_selection-center_recommendation-display {
  color: #30badd;
  opacity: 100%;
  font-family: Roboto;
  white-space: nowrap;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
}

.center_selection-nearby-btn {
  color: #6e6e6e;
  font-family: Roboto;
  opacity: 100%;
  padding: 0;
  font-size: 11px;
}

.name-delete-button {
  font-size: 11px;
  color: #6e6e6e;
  padding-top: 1.15rem;
  padding-left:10px;
  cursor: pointer;
  transform: translateY(-0.4rem);
}

.center_selection-center-available-text {
  color: #6e6e6e;
  opacity: 100%;
  font-family: Roboto;
  font-size: 10px;
}

.search-btn mat-icon {
   color: #ffffff;
}

.search-btn {
  width: 36px;
  height: 36px;
  background-color: #03A64A;
  border: none;
  border-radius: 5px;
  margin: 1.3rem 0 0 12px;
}

.download-btn{
  margin: 1.3rem 0 0 0;
}

.center_selection-form-container {
  animation: 1.3s anim ease-out;
}

@keyframes anim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.search-cancel-btn {
  width: 35px;
  height: 40px;
  background-color: #fd518c;
  border-radius: 0;
  opacity: 100%;
  text-transform: uppercase;
}

.search-input {
  outline: none;
  color: #707070;
  font-family: Roboto;
  opacity: 100%;
  background-color: white;
  border: none;
  width: 100%;
}

.select-input {
  outline: none;
  font-family: Roboto;
  color: #000000;
  opacity: 100%;
  background-color: white;
  appearance: none;
  width: 100%;
  font-size: 14px;
}

.mat-option:hover {
  background-color: #d8f7ff;
  opacity: 100%;
}

.select-card {
  padding: 0;
  box-shadow: 4px;
  border-radius: 4px !important;
  height: 40px;
  width: 40%;
  margin-top: 7px;
  outline: none;
}

.search-text {
  display: flex;
  font-family: Roboto;
  font-size: 14px;
  color: #707070;
  width: 80%;
  margin-top: 10px;
  margin-left: 25px;
  height: 40px;
}

.search-card {
  width: 50%;
  height: 40px;
  padding: 0;
  box-shadow: 4px black;
  border-radius: 4px !important;
  margin-top: 10px;
  display: inline-flex;
  display: inline-flex;
  padding: 7px;
  margin-left: 5px;
  border: 2px solid #707070;
  margin-top: 1.2rem !important;
}

.mat-card {
  display: inline-flex;
}

.search-form {
  display: flex;
  /* flex-wrap: wrap; */
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.pagination{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.centers-list {
  height: 67%;
  overflow: auto;
  margin-bottom: 4px;
}

/* @media screen and (max-width:1320px) {
  .centers-list{
    height: 28rem;
  }
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: silver;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: silver;
}

@media (max-width: 500px) {

  .user-back-btn,
  .user-book_later-btn,
  .user-continue-btn {
    font-size: 10px;
    padding: 0px 2px;
    margin-right: 20px;
  }

  .container {
    display: flex;
    padding: 0px 1rem 0px 2rem;
  }

  .centers-wrapper {
    width: 90%;
  }

  .center_selection-center_recommendation-display {
    white-space: normal;
  }
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.mat-select {
  display: inline-block;
  height: 38px !important;
  border: 1px solid black;
  width: 160px;
}

.mat-select-value{
  padding-top: 9px !important;
}