<mat-sidenav-container [dir]="textDirection()">
  <mat-sidenav #sidenav role="navigation" position="start" mode="push">
    <mat-nav-list class="sidenav-list">
     
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <div class="sidenav-button">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      </div>
      <img class="img-fluid" src="assets\logo.png"/>
      <span class="spacer"></span>

      <button mat-button [matMenuTriggerFor]="menu1"> <span class="mat-button-wrapper"><mat-icon>language</mat-icon> {{selectedLanguage}} <mat-icon>arrow_drop_down</mat-icon></span></button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item (click)="onlanguagechange(item)" *ngFor="let item of selectLanguagesArr">{{item.value}}</button>
      </mat-menu>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>