.mat-select-panel{
  position: absolute;
  top: 32px;
  left: 4px;
  min-width: calc(100% + 22px) !important;
  border-radius: 0px !important;
  border: 1px solid blue;
  border-top-style: none;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start{
  border-radius: 0px !important;
  border: 1px solid blue !important;
  border-right-style: none !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end{
  border-radius: 0px !important;
  border: 1px solid blue !important;
  border-left-style: none !important;
}

.mat-select-panel ng-animating {
  visibility: hidden;
}