<span class="breadcrumb">
	<a (click)="onItemSelected('dashboard')">{{'dashboard.home' | translate}} &nbsp;&nbsp;</a> > &nbsp;&nbsp;<a (click)="onItemSelected('uinservices/dashboard')">{{'dashboard.uinservices' | translate}} &nbsp;&nbsp;</a> > &nbsp;&nbsp;<span class="active">{{'sharewithpartner.title' | translate}}</span>
</span>

<div class="main-div" *ngIf="langJSON">
	<mat-card *ngIf="schema.schema">
		<label style="color: #505050;padding:10px;line-height: 2.5;">{{'sharewithpartner.mainlabel' | translate}}</label>
		<table style="width:100%;">
			<tr>
				<td style="width:30%;">
					<table *ngFor="let data of schema.schema;" style="width:500px;">
						<tr>
							<td style="padding:10px;color: #505050;width: 33%"><mat-checkbox (click)="captureCheckboxValue($event, data)">{{data.label[langCode]}}</mat-checkbox></td>
							<td *ngIf="data.maskRequired" style="width:33%;color: #505050;font-size: 16px;padding-left: 1.25rem;">
								<mat-checkbox (click)="captureCheckboxValue($event, data)">{{data.maskRequiredLabel[langCode]}}</mat-checkbox>
							</td>
							<td *ngIf="data.formatRequired" style="width:33%">
								<button mat-button [matMenuTriggerFor]="basic">{{data.formatOptionLabel[langCode]}}<mat-icon>keyboard_arrow_down</mat-icon></button>
								<mat-menu #basic="matMenu">
									<ng-container *ngFor="let data1 of data.formatOption[langCode];">
								  		<button mat-menu-item (click)="captureCheckboxValue($event, data.label[langCode], data1.label)"><mat-checkbox>{{data1.label}}</mat-checkbox></button>
								  	</ng-container>
								</mat-menu>
							</td>
						</tr>
					</table>					
				</td>
				<td style="width:70%;vertical-align: top;">
					<table style="width:500px;">
						<tr>
							<td style="padding-bottom: 10px;font-size: 14px;">
								<mat-label>{{'sharewithpartner.partnerName' | translate}}</mat-label>
							</td>
						</tr>
						<tr>
							<td>
							  	<mat-select style="width: 350px;">
								    <mat-option *ngFor="let partnerDetail of partnerDetails" [value]="partnerDetail.partnerID">{{partnerDetail.organizationName}}</mat-option>
							  	</mat-select>
							</td>
						</tr>
						<tr>
							<td style="padding-top: 10px;padding-bottom: 10px;font-size: 14px;">
								<mat-label>{{'sharewithpartner.sharingReason' | translate}}</mat-label>
							</td>
						</tr>
						<tr>
							<td>
							  	<textarea style="width:450px;height: 100px;border-radius: 5px;resize: none;font-family: Roboto,'Helvetica Neue',sans-serif;padding: 5px" matInput placeholder="{{'sharewithpartner.sharingReasonPlaceholder' | translate}}"></textarea>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>		
	</mat-card>
</div>


