<div class="main-container">
  <span class="breadcrumb">
    <a (click)="onItemSelected('home')">{{'uinservices.home' | translate}} &nbsp;&nbsp;</a> >&nbsp;&nbsp;<span
      class="active">{{'uinservices.label' | translate}}</span>
  </span>
  <mat-card class="login-card">
    <!-- <mat-card-subtitle  class="login-heading" *ngIf="getUinData.login">{{getUinData.login | translate}}</mat-card-subtitle> -->
    <hr class="line" />
    <div class="form-container">
      <form #basicForm="ngForm" (submit)="submitUserID(basicForm.value)">
        <div class="uin-login-title-card">
          <!-- <mat-card-subtitle class="login-Input-heading" *ngIf="getUinData.title">{{getUinData.title | translate}}</mat-card-subtitle> -->
          <img alt="info-icon" class="info-icon" src="./assets/images/info_black_24dp (1).png" />
        </div>
        <input class="input-text" type="text" ngModel name="AID" />
        <br />
        <label class="label-text" *ngIf="getUinData.description">{{getUinData.description | translate}}</label>
        <div class="not-robot-verifing-card">
            <app-captcha [captchaSiteKey]="siteKey" [resetCaptcha]="resetCaptcha" (captchaEvent)="getCaptchaToken($event)"></app-captcha>
        </div>
        <br />
        <button [style.backgroundColor]="buttonbgColor" class="login-uin-otp-btn" *ngIf="getUinData.buttonText">{{getUinData.buttonText |
          translate}}</button>
      </form>
    </div>
  </mat-card>
</div>