.main-container {
    padding: 0 6rem 0 6rem;
}

.login-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #00000014;
    border-radius: 10px;
    opacity: 1;
    /* width: 1160px; */
    height: 628px;
    padding: .7rem 2rem .5rem 2rem;
    text-align: center;
    margin-top: 6px;
}

.login-heading {
    text-align: center;
    font: normal normal medium 20px/30px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-weight: 600;
}

.line {
    border: 1px solid #D3D3D3;
    opacity: 1;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 450px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    opacity: 1;
    margin: auto;
    margin-top: 2rem;
}

.login-Input-heading {
    font-weight: 500;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.input-text {
    width: 250px;
    height: 36px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #909090;
    border-radius: 5px;
    opacity: 1;
    padding: 5px;
    outline: none;
}

.uin-login-title-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-icon {
    margin-bottom: 14px;
    margin-left: 12px;
    cursor: pointer;
}

.label-text {
    text-align: left;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.not-robot-verifing-card {
    background: #F9F9F9 0% 0% no-repeat padding-box;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.input-checkbox {
    width: 18px;
    height: 18px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #03A64A;
    border-radius: 2px;
    opacity: 1;
}



.login-uin-otp-btn {
    width: 120px;
    height: 36px;
    border-radius: 5px;
    opacity: 1;
    border: none;
    margin-top: 1rem;
    color: #ffffff;
}

.info-box {
    margin-top: 35px;
    min-height: 90px;
    width: 200px;
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
    position: absolute;
    background-color: #ffffff;
    left: 51%;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    font-size: 10px;
    text-align: start !important;
}

.info-box:before {
    content: "";
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    background: #ffffff;
    position: absolute;
    margin-left: -37px;
    z-index: -1;
    top: -10px;
    left: calc(50% - 10px);
    text-align: start !important;
    /* box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5); */
}

.status-title-card {
    height: 105px;
    background: #FFF2E3;
    border: 1px solid #FFB45C;
    margin-top: 10px;
    border-radius: 12px;
    margin: 12px;
    padding: 1.5rem 1rem 1.5rem 1rem;
}

.status-details-card {
    min-height: 450px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px #00000014;
    border-radius: 10px;
    margin: 12px;
}

.status-title-text {
    font-size: 17px;
    color: #E69537;
}

.req-msg-text {
    font-size: 13px;
    color: #505050;
}

.uin-title {
    font-size:18px;
    font-weight: 600;
    color: #505050;
}

.status-time{
    font-size:12px;
    color: #505050;
    margin: 12px 0 12px 0 !important;
}

.icon{
    color: #FAF8F8;
    font-size: 43px;
    margin-bottom: 2rem !important;
 }

.active-position-icon {
   color: #03A64A;
}

.progress-card{
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #C0C0C0;
    margin: 1rem;
    border-radius: 12px;
    padding: 0 2rem 0 2rem;
}

.progressbar li {
    list-style-type: none;
    float: left;
    width: 20%;
    position: relative;
}

.active-position-text {
    color: #505050;
    font-weight: 600;
}
.inactive-position-text{
    color: #D3D3D3;
}
.stages-card{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

ul li{
   position: relative;
}

.completed-stage-bar{
    height: 20px; 
    width: 100%; 
    background-color: #03A64A; 
    position: absolute; 
    left: 0; 
    top: 9px; 
    border: none;
}
.incompleted-stage-bar{
    height: 20px; 
    width: 100%; 
    background-color: #FAF8F8; 
    position: absolute;
    left: 0; 
    top: 9px; 
    border: none;
}


ul li:first-child hr{
    width: 42%;
    left: 60.5%;
}
ul li:last-child hr{
    width: 48%;
}