<div class="main-container" *ngIf="!isUinNotReady">
  <span class="breadcrumb">
    <a (click)="onItemSelected('home')">{{'uinservices.home' | translate}} &nbsp;&nbsp;</a> >&nbsp;&nbsp;<span
      class="active">{{'uinservices.label' | translate}}</span>
  </span>
  <mat-card class="login-card">
    <mat-card-subtitle class="login-heading" *ngIf="getUinData.login">{{getUinData.login |
      translate}}</mat-card-subtitle>
    <hr class="line" />
    <div class="form-container">
      <form #basicForm="ngForm" (submit)="submitUserID(basicForm.value)">
        <div class="uin-login-title-card">
          <mat-card-subtitle class="login-Input-heading" *ngIf="getUinData.title">{{getUinData.title |
            translate}}</mat-card-subtitle>
          <span (mouseover)="openPopup()" (mouseout)="openPopup()"><img alt="info-icon" class="info-icon"
              src="./assets/images/info_black_24dp (1).png" /></span>
        </div>
        <div *ngIf="infoPopUpShow" class="info-box">
          <p>{{infoText}}</p>
        </div>
        <input id="aidValue" class="input-text" type="text" ngModel name="AID" />
        <br />
        <label class="label-text" *ngIf="getUinData.description">{{getUinData.description | translate}}</label>
        <div class="not-robot-verifing-card">
          <app-captcha [captchaSiteKey]="siteKey" [resetCaptcha]="resetCaptcha"
            (captchaEvent)="getCaptchaToken($event)"></app-captcha>
        </div>
        <br />
        <button id="getUinSendOtpBtn" (click)="submitUserID()" [style.backgroundColor]="buttonbgColor"
          class="login-uin-otp-btn" *ngIf="getUinData.buttonText">{{getUinData.buttonText | translate}}</button>
      </form>
    </div>
  </mat-card>
</div>

<div class="main-container" *ngIf="isUinNotReady">
  <span class="breadcrumb">
    <a (click)="onItemSelected('home')">{{'uinservices.home' | translate}} &nbsp;&nbsp;</a>
    >&nbsp;&nbsp;<span style="cursor: pointer;" (click)="onItemSelected('')">{{'uinservices.label' | translate}} </span> >&nbsp;&nbsp;<span class="active">
      {{getStatusData.status}}</span>
  </span>
  <div class="status-title-card">
    <mat-card-subtitle
      class="status-title-text">{{getStatusData.uinTitleDescription.replace("$AID",aid)}}</mat-card-subtitle>
    <mat-card-subtitle class="req-msg-text">{{getStatusData.requestMsg}}</mat-card-subtitle>
  </div>
  <mat-card class="status-details-card">
    <mat-card-title class="uin-title">{{getStatusData.UINCardStatus}}</mat-card-title>
    <!-- <mat-card-subtitle class="status-time">{{getStatusData.statusTime}}</mat-card-subtitle> -->
    <div class="progress-card">
      <ul class="progressbar">
        <li *ngFor="let item of getStatusData.statusStages; let i = index">
          <div class="stages-card">
            <mat-icon
              [ngClass]=" i <= orderStatusIndex ? 'active-position-icon icon':'icon' ">check_circle_outline</mat-icon>
            <hr [ngClass]=" i <= orderStatusIndex ? 'completed-stage-bar':'incompleted-stage-bar' " />
            <mat-card-subtitle
              [ngClass]="orderStatus === item ? 'active-position-text':'inactive-position-text' ">{{item}}</mat-card-subtitle>
          </div>
        </li>
      </ul>
      <mat-expansion-panel style="margin-top:1rem;">
        <mat-expansion-panel-header>
          {{getStatusData.trackDetailsHeading}}
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </div>
  </mat-card>
</div>