<span class="breadcrumb">
	<a (click)="onItemSelected('dashboard')">{{'dashboard.home' | translate}} &nbsp;&nbsp;</a> > &nbsp;&nbsp;<a (click)="onItemSelected('uinservices/dashboard')">{{'dashboard.uinservices' | translate}} &nbsp;&nbsp;</a> > &nbsp;&nbsp;<span class="active">{{'viewhistory.title' | translate}}</span>
</span>

<div class="main-div" *ngIf="langJSON">
	<mat-card>
		<table *ngIf="responselist" style="width: 100%;">
			<tr>
				<td style="width: 20%;padding: 10px;"><span>Search</span></td>
				<td style="width: 20%;padding: 10px;"><span>History Type</span></td>
				<td style="width: 20%;padding: 10px;"><span>Satus</span></td>
				<td style="width: 20%;padding: 10px;"><span>From (dd/mm/yyyy)</span></td>
				<td style="width: 20%;padding: 10px;"><span>To (dd/mm/yyyy)</span></td>
			</tr>
			<tr>
				<td style="width: 20%;padding: 10px;">
          			<input type="text" id="appIdValue" name="appIdValue" (blur)="captureValue($event, 'searchText', 'textbox')" placeholder="{{'viewhistory.inputAppId' | translate}}" />
				</td>
				<td style="width: 20%;padding: 10px;">
					<mat-form-field>
					  <mat-select multiple placeholder="{{'viewhistory.inputHistory' | translate}}" (selectionChange)="captureValue($event, 'serviceType', 'dropdown')">
					    <mat-option *ngFor="let serviceType of serviceTypeFilter" [id]="serviceType" [value]="serviceType" >{{serviceType}}</mat-option>
					  </mat-select>
					</mat-form-field>
				</td>
				<td style="width: 20%;padding: 10px;">
					<mat-form-field>
					  <mat-select multiple placeholder="{{'viewhistory.inputStatus' | translate}}" (selectionChange)="captureValue($event, 'statusFilter', 'dropdown')">
					    <mat-option *ngFor="let status of statusTypeFilter" [id]="status" [value]="status">{{status}}</mat-option>
					  </mat-select>
					</mat-form-field>
				</td>
				<td style="width: 20%;padding: 10px;">
					
				</td>
				<td style="width: 20%;padding: 10px;"><button mat-button (click)="search()">{{'viewhistory.searchBtn' | translate}}</button></td>
			</tr>
		</table>
		<table *ngIf="responselist" style="width: 100%;border-collapse: separate;border-spacing: 1em;">				
			<tr *ngFor="let data of responselist; let i = index" style="outline: thin solid silver;border-radius: 5px;"  multi>
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<td style="width: 2%;padding: 10px;"><span *ngIf="data.pinnedStatus === 'true'"><img src="assets\pin.png" style="color: green;width: 8px;"></span></td>
						<td style="width: 33%;padding: 10px;color: #008CED;"><span>Application ID : </span>{{data.eventId}}</td>
						<td style="width: 25%;padding: 10px;"><span>Purpose : </span>{{data.purpose}}</td>
						<td style="width: 25%;padding: 10px;"><span>Timestamp : </span>{{data.timeStamp}}</td>
						<td style="width: 15%;padding: 10px;"><span>Satus : </span>{{data.eventStatus}}</td>
					</mat-expansion-panel-header>
						<p style="width: 100%;padding: 10px 35px;">
							<span style="cursor:pointer;" (click)="reportDetails(data)"><img src="assets\report.png" style="color: green;width: 15px;">&nbsp;&nbsp;&nbsp;<span style="font-size:12px;color:#505050;">Report an issue&nbsp;&nbsp;&nbsp;&nbsp;</span>|&nbsp;&nbsp;&nbsp;&nbsp;</span>			
							<span style="cursor:pointer;" *ngIf="data.pinnedStatus === 'false'" (click)="pinData(data)"><img src="assets\pin.png" style="color: green;width: 8px;">&nbsp;&nbsp;&nbsp;<span style="font-size:12px;color:#505050;">Pin to top&nbsp;&nbsp;&nbsp;&nbsp;</span>|&nbsp;&nbsp;&nbsp;&nbsp;</span>
							<span style="cursor:pointer;" *ngIf="data.pinnedStatus === 'true'" (click)="unpinData(data)"><img src="assets\pin.png" style="color: green;width: 8px;">&nbsp;&nbsp;&nbsp;<span style="font-size:12px;color:#505050;">Unpin from top&nbsp;&nbsp;&nbsp;&nbsp;</span>|&nbsp;&nbsp;&nbsp;&nbsp;</span>
							<span style="cursor:pointer;" (click)="viewDetails(data)"><img src="assets\view.png" style="color: green;width: 15px;">&nbsp;&nbsp;&nbsp;<span style="font-size:12px;color:#505050;">View Details</span></span>
						</p>
				</mat-expansion-panel>
			</tr>					
		</table>
		<div  dir="ltr">
	      	<span *ngIf="this.totalItems !== 0">
		        <mat-paginator 
		          [length]="this.totalItems"
		          [pageSize]="this.pageSize"
		          [pageSizeOptions]="this.pageSizeOptions"
		          (page)="getServiceHistory(pageEvent = $event)"
		          >
		        </mat-paginator>
	      	</span>
	    </div>
	</mat-card>
</div>


