<span class="breadcrumb">
	<!-- <a (click)="onItemSelected('dashboard')">{{'dashboard.home' | translate}} &nbsp;&nbsp;</a> > &nbsp;&nbsp; -->
	<a (click)="onItemSelected('uinservices/dashboard')">{{'dashboard.uinservices' | translate}} &nbsp;&nbsp;</a> >
	&nbsp;&nbsp;<span class="active">{{'viewhistory.title' | translate}}</span>
</span>

<div class="main-div" *ngIf="langJSON">
	<mat-card>
		<h3 style="color: #505050; font-size:20px;">{{'viewhistory.title' | translate}}</h3>
		<mat-grid-list *ngIf="responselist" [cols]="cols" rowHeight="100px" gutterSize="7px">
	        <mat-grid-tile>
	          <div class="mini-card">
	            <mat-card-header><span class="label">{{'viewhistory.inputsearch' |translate}}</span></mat-card-header>
	            <mat-card-subtitle><span class="input"><input type="text" id="appIdValue" name="appIdValue" (blur)="captureValue($event, 'searchText', 'textbox')" placeholder="{{'viewhistory.inputAppId' | translate}}" style="padding: 10px;" /></span></mat-card-subtitle>
	          </div>
	        </mat-grid-tile>
	        <mat-grid-tile>
	          <div class="mini-card">
	            <mat-card-header><span class="label">{{'viewhistory.inputHistory' |translate}}</span></mat-card-header>
	            <mat-card-subtitle><span class="input"><mat-select multiple #serviceTypeSelectAll id="serviceType" placeholder="{{'viewhistory.inputHistory' | translate}}"
						(selectionChange)="captureValue($event, 'serviceType', 'dropdown')">
						<mat-option [disabled]="serviceType.value !== 'ALL' && serviceHistorySelectedValue === 'ALL'" *ngFor="let serviceType of serviceTypeFilter" [id]="serviceType.value"
							[value]="serviceType.value">{{serviceType.label}}</mat-option>
						</mat-select></span></mat-card-subtitle>
	          </div>
	        </mat-grid-tile>
	        <mat-grid-tile>
	          <div class="mini-card">
	            <mat-card-header><span class="label">{{'viewhistory.inputFrom' |translate}}</span></mat-card-header>
	            <mat-card-subtitle><span class="input"><input readonly id="fromPickertext" [(ngModel)]="startdate" [max]="today" matInput
						[matDatepicker]="fromPicker" class="datepicker-card"
						(dateChange)="captureValue($event, 'fromDate', 'datepicker')" (click)="fromPicker.open()">
						<mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
						<mat-datepicker #fromPicker></mat-datepicker></span></mat-card-subtitle>
	          </div>
	        </mat-grid-tile>
	        <mat-grid-tile>
	          <div class="mini-card">
	            <mat-card-header><span class="label">{{'viewhistory.inputTo' |translate}}</span></mat-card-header>
	            <mat-card-subtitle><span class="input"><input readonly id="toPickertext" [(ngModel)]="selectedDate" matInput [min]="toDateStartDate" [max]="today"
						[matDatepicker]="toPicker" (click)="toPicker.open()" class="datepicker-card"
						(dateChange)="captureValue($event, 'toDate', 'datepicker')">
						<mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
						<mat-datepicker #toPicker></mat-datepicker></span></mat-card-subtitle>
	          </div>
	        </mat-grid-tile>
	        <mat-grid-tile>
	          <div class="mini-card">
	            <mat-card-header><span class="label">{{'viewhistory.inputStatus' |translate}}</span></mat-card-header>
	            <mat-card-subtitle style="display: flex;"><span class="datepicker-card" style="display: contents;">
						<mat-select multiple #statusFilterSelectAll id="statusFilter"  placeholder="{{'viewhistory.inputStatus' | translate}}"
						(selectionChange)="captureValue($event, 'statusFilter', 'dropdown')">
						<mat-option [disabled]="statusHistorySelectedValue === 'all' && status.label !== 'All' " *ngFor="let status of statusTypeFilter" [id]="status.value" [value]="status.value"
							>
							{{status.label}}</mat-option>
						</mat-select>
					</span></mat-card-subtitle>
	          </div>
	        </mat-grid-tile>
	        <mat-grid-tile>
	          <div class="mini-card">
	            <mat-card-header><span class="label"></span></mat-card-header>
	            <mat-card-subtitle style="display: flex;margin-top: 15px;"><span class="datepicker-card" style="display: contents;">
					<button id="searchbtn" mat-raised-button color="primary"
						(click)="search()">{{'viewhistory.searchBtn' |
						translate}}</button>&nbsp;&nbsp;&nbsp;&nbsp;<button id="downloadbtn" mat-raised-button
						color="default" (click)="downloadServiceHistory()"><img class="save-icon"
							src="./assets/images/save.png" /></button>
					</span></mat-card-subtitle>
	          </div>
	        </mat-grid-tile> 
	    </mat-grid-list>
		<table *ngIf="responselist" class="history-data">
			<tr *ngFor="let data of responselist; let i = index" style="outline: thin solid silver;border-radius: 5px;"
				multi>
				<mat-expansion-panel>
					<mat-expansion-panel-header id="panelHeader{{i}}">
						<td style="width: 2%;padding: 10px;"><span *ngIf="data.pinnedStatus === true"><img
									src="assets\pin.png" style="color: green;width: 8px;"></span></td>
						<td style="width: 33%;padding: 10px;color: #008CED;"><span>{{'viewhistory.inputAppId' |
								translate}} :
							</span>{{data.eventId}}</td>
						<td style="width: 39%;padding: 10px;"><span>{{'viewhistory.description' | translate}} :
							</span>{{data.description}}</td>
						<td style="width: 13%;padding: 10px;">
							<!-- <span>{{'viewhistory.timestamp' | translate}} : </span> -->{{data.timeStamp |
							date:'dd/MM/yyyy H:mm'}}</td>
						<td style="width: 13%;padding: 10px;">
							<!-- <span>{{'viewhistory.inputStatus' | translate}} : </span> -->{{data.eventStatus}}</td>
					</mat-expansion-panel-header>
					<p style="width: 100%;padding: 10px 35px;">
						<span id="reportDetails{{i}}" style="cursor:pointer;" (click)="reportDetails(data)"><img
								src="assets\report.png" style="color: green;width: 15px;">&nbsp;&nbsp;&nbsp;<span
								style="font-size:12px;color:#505050;">{{'viewhistory.reportIssueLabel' |
								translate}}&nbsp;&nbsp;&nbsp;&nbsp;</span>|&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span id="pinData{{i}}" style="cursor:pointer;" *ngIf="data.pinnedStatus === false"
							(click)="pinData(data)"><img src="./assets/pin.png"
								style="color: green;width: 8px;">&nbsp;&nbsp;&nbsp;<span
								style="font-size:12px;color:#505050;">{{'viewhistory.pinToTopLabel' |
								translate}}&nbsp;&nbsp;&nbsp;&nbsp;</span>|&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span id="unpinData{{i}}" style="cursor:pointer;" *ngIf="data.pinnedStatus === true"
							(click)="unpinData(data)"><img src="./assets/pin.png"
								style="color: green;width: 8px;">&nbsp;&nbsp;&nbsp;<span
								style="font-size:12px;color:#505050;">{{'viewhistory.unpinToToplabel' |
								translate}}&nbsp;&nbsp;&nbsp;&nbsp;</span>|&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span id="viewDetails{{i}}" style="cursor:pointer;" (click)="viewDetails(data)"><img
								src="assets\view.png" style="color: green;width: 15px;">&nbsp;&nbsp;&nbsp;<span
								style="font-size:12px;color:#505050;">{{'viewhistory.viewhistoryLabel' |
								translate}}</span></span>
					</p>
				</mat-expansion-panel>
			</tr>
		</table>
		<div dir="ltr">
			<span id="pageSizeOptions" *ngIf="this.totalItems !== 0">
				<mat-paginator class="demo-paginator" #paginator  (page)="capturePageValue(pageEvent = $event)"
					[length]="this.totalItems" [pageSize]="this.pageSize" [showFirstLastButtons]="showFirstLastButtons"
					[pageSizeOptions]="this.pageSizeOptions" [pageIndex]="pageIndex" aria-label="Select page">
				</mat-paginator>
			</span>
		</div>
	</mat-card>
</div>