.basic-container {
  padding: 30px;
}


.mat-card-subtitle{
  cursor: pointer;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 30px;
  font-size: 30px;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 3;
  height: 315px !important;
}

.item-card {
  height: 150px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  border-radius: 10px;
  opacity: 1;
}

.item-card > mat-card{
  border: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: stretch;
}

mat-icon.mat-card-avatar {
  width: 40px;
  height: 40px;
  font-size: 40px;
}