.basic-container {
  padding: 30px;
}

.main-div{
  height: 100%;
}
.mat-card-subtitle {
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.uin-service-list{
  padding: 0px;
  color: #000000;
  font-size: 14px;
  line-height: 24px;
  font-family: Roboto;
  margin-top: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}



.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  font-size: 30px;
}

.item1 {
  height: 390px !important;
}

.item-card {
  height: 190px;
  width: 95%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  border-radius: 10px;
  opacity: 1;
  cursor: pointer;
}

div.item-card:hover{
  background-color: rgb(3, 166, 74);
  
}

div.item-card:hover .icon{
  display: none;
}

div.item-card:hover .active-icon{
  display: block;
} 

.active-icon{
  display: none;
}

.active-dashboard-icons{
  width: 50px;
  height: 50px;
  margin-right: 6px;
}

.item-card:hover mat-card{
  background-color: rgb(3, 166, 74);
  color: #ffffff;
}

.item-card:hover  mat-card-title{
  color: #ffffff;
}

.item-card:hover  mat-card-subtitle{
  color: #F4F4F4;
} 
 
.item-card:hover  .uin-service-list{
  color: #F4F4F4;
} 
 

.item-card>mat-card {
  border: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: stretch;
}

mat-icon.mat-card-avatar {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.dashboard-icons{
  width: 60px;
  height: 60px;
  margin-right: 6px;
}

.mat-card-title {
  text-align: left; 
  font-size: 22px;
  letter-spacing: 0px;
  color: #464A8C;
  opacity: 1;
  font-weight: bold;
}

.title{
  display: flex;
  align-items: center;
}

.display-description{
 margin-left: 13px;
}

.mat-card{
  border-radius: 25px !important;
}

