<div class="main-div" *ngIf="menuItems">
  <div class="grid-container">
    <div class="item1 item-card">
      <mat-card>
        <div class="title">
          <span><img mat-card-xs-image class="dashboard-icons" [src]='menuItems[0].icon' /></span>
          <mat-card-title class="mat-card-title" *ngIf="!menuItems[0].route">{{ menuItems[0].displayName | translate }}
          </mat-card-title>
          <mat-card-title class="mat-card-title" *ngIf="menuItems[0].route"
            (click)="onItemSelected(menuItems[0].route)">{{
            menuItems[0].displayName | translate }}</mat-card-title>
        </div>
        <mat-card-header>
          <mat-card-subtitle class="mat-card-subtitle" *ngFor="let subMenu of menuItems[0].subMenus"
            (click)="onItemSelected(subMenu.route)">{{
            subMenu.displayName | translate }}</mat-card-subtitle>
          <div style="flex-grow: 1"></div>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="item2 item-card">
      <mat-card>
        <div class="title">
          <span><img mat-card-xs-image class="dashboard-icons" [src]='menuItems[1].icon' /></span>
          <mat-card-title class="mat-card-title" *ngIf="!menuItems[1].route">{{ menuItems[1].displayName | translate }}
          </mat-card-title>
          <mat-card-title class="mat-card-title" *ngIf="menuItems[1].route"
            (click)="onItemSelected(menuItems[1].route)">{{
            menuItems[1].displayName | translate }}</mat-card-title>
        </div>
        <mat-card-header>
          <mat-card-subtitle *ngFor="let subMenu of menuItems[1].subMenus" (click)="onItemSelected(subMenu.route)">{{
            subMenu.displayName | translate }}</mat-card-subtitle>
          <div style="flex-grow: 1"></div>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="item3 item-card">
      <mat-card>
        <div class="title">
          <span><img mat-card-xs-image class="dashboard-icons" [src]='menuItems[2].icon' /></span>
          <mat-card-title class="mat-card-title" *ngIf="!menuItems[2].route">{{ menuItems[2].displayName | translate }}
          </mat-card-title>
          <mat-card-title class="mat-card-title" *ngIf="menuItems[2].route"
          (click)="onItemSelected(menuItems[2].route)">{{
          menuItems[2].displayName | translate }}</mat-card-title>
        </div>
        <mat-card-header>
          <mat-card-subtitle *ngFor="let subMenu of menuItems[2].subMenus" (click)="onItemSelected(subMenu.route)">{{
            subMenu.displayName | translate }}</mat-card-subtitle>
          <div style="flex-grow: 1"></div>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="item4 item-card">
      <mat-card>
        <div class="title">
          <span><img mat-card-xs-image class="dashboard-icons"  [src]='menuItems[3].icon' /></span>
          <mat-card-title class="mat-card-title" *ngIf="!menuItems[3].route">{{ menuItems[3].displayName | translate }}
          </mat-card-title>
          <mat-card-title class="mat-card-title" *ngIf="menuItems[3].route"
            (click)="onItemSelected(menuItems[3].route)" style="cursor: pointer;">{{
            menuItems[1].displayName | translate }}</mat-card-title>
        </div>
        <mat-card-header>
          <mat-card-subtitle *ngFor="let subMenu of menuItems[3].subMenus" (click)="onItemSelected(subMenu.route)">{{
            subMenu.displayName | translate }}</mat-card-subtitle>
          <div style="flex-grow: 1"></div>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="item5 item-card">
      <mat-card>
        <div class="title">
          <span><img mat-card-xs-image class="dashboard-icons"  [src]='menuItems[4].icon' /></span>
          <mat-card-title class="mat-card-title" *ngIf="!menuItems[4].route">{{ menuItems[4].displayName | translate }}
          </mat-card-title>
          <mat-card-title class="mat-card-title" style="cursor: pointer;" *ngIf="menuItems[4].route"
            (click)="onItemSelected(menuItems[4].route)">{{
            menuItems[4].displayName | translate }}</mat-card-title>
        </div>
        <mat-card-header>
          <mat-card-subtitle *ngFor="let subMenu of menuItems[4].subMenus" (click)="onItemSelected(subMenu.route)">{{
            subMenu.displayName | translate }}</mat-card-subtitle>
          <div style="flex-grow: 1"></div>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>