.verify-phnumb-email-card {
  width: 100%;
  height: 628px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 5px #00000014;
  border-radius: 10px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .6rem;
}

.button {
  width: 225px;
  height: 55px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000014;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal normal medium 14px/16px Roboto;
  letter-spacing: 0px;
  color: #909090;
  opacity: 1;
  cursor: pointer;
}

.btn-card {
  display: flex;
}

.btn-card-xs {
  display: contents;
}

.main-container {
  padding: 0 6% 0 6%;
}

.send-otp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 450px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  opacity: 1;
  margin: auto;
  margin-top: 2rem;
}

.example-card {
  height: 80vh;
  text-align: middle;
}

label {
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-top: 1rem;
  margin-bottom: 5px;
}

input {
  width: 70%;
  height: 36px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #909090;
  border-radius: 5px;
  opacity: 1;
}

.show-opt-panel-card{
  width: 100%;
  height: 628px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 5px #00000014;
  border-radius: 10px;
  opacity: 1;
}

.button2 {
  width: 108px;
  height: 36px;
  /* background: #909090 0% 0% no-repeat padding-box; */
  border:none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  background-color: #03A64A;

}
.get-uin-btn-card {
  margin-top: 1.7rem;
}

.mobile-number {
  font-weight: 700;
}

.otp-infromation-text {
  text-align: center;
  letter-spacing: NaNpx;
  color: #000000;
  opacity: 1;
  font-size: 14px;
  padding: 12px;
}

.otp-infromation-card {
  width: 305px;
  min-height: 96px;
  background: #E8FDF2 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  word-wrap: break-word;
}

.enter-opt-input {
  width: 250px;
  height: 36px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #909090;
  border-radius: 5px;
  opacity: 1;
  margin-bottom: 1rem;
  padding: 12px;
}

.otp-time-heading {
  color: #000000;
  font-weight: 600;
}

.otp-expire-time {
  color: #03A64A;
}

.send-otp-btn{
  background-color: #03A64A;
  color: #fff;
}

.book-appointment-back-btn {
  width: 100px;
  height: 36px;
  border: 1px solid #909090;
  border-radius: 5px;
  opacity: 1;
  background-color: transparent;
  text-align: left;
  font: normal normal medium 16px/19px Roboto;
  letter-spacing: 0px;
  color: #909090;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-bottom: 1rem;
}
input{
  outline: none;
}

.info-box{
  margin-top: 11.4rem;
  min-height: 90px;
  width: 200px;
  border-radius: 8px;
  padding: 8px 12px 8px 12px;
  position: absolute ;
  background-color: #ffffff;
  /* top: -20px; */
  left: 49%; 
  /* display: inline-block; */
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  font-size: 10px;
  text-align: start !important;
}

.info-box:before{
  content: "";
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
  background: #ffffff;
  position: absolute;
  margin-left: -37px;
  z-index: -1;
  top: -10px;
  left: calc(50% - 10px);
  text-align: start !important;
  /* box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5); */
}