<span class="breadcrumb">
	<a (click)="onItemSelected('dashboard')">{{'dashboard.home' | translate}} &nbsp;&nbsp;</a> > &nbsp;&nbsp;<a (click)="onItemSelected('uinservices/dashboard')">{{'dashboard.uinservices' | translate}} &nbsp;&nbsp;</a> > &nbsp;&nbsp;<span class="active">{{'managemyvid.title' | translate}}</span>
</span>

<div class="main-div" *ngIf="langJSON">
	<mat-card>

		<table *ngIf="policyType" style="width:100%">
			<tr *ngFor = "let policy of policyType.vidPolicies">
				<td style="width:100%">					 
				    <span style="padding-left: 20px;">{{policy.vidType}}  <mat-icon style="color: green;font-size: 18px;" matTooltip="">info</mat-icon> <button mat-raised-button color="primary" (click)="generateVID(policy.vidType)">{{'managemyvid.create' | translate}}</button></span>		
				    <mat-grid-list style="width:100%" cols="4" rowHeight="2:1" *ngIf=finalTypeList[policy.vidType]>
						<mat-grid-tile *ngFor = "let list of finalTypeList[policy.vidType]">
							<mat-card class="mini-card">
							  <mat-card-header>							  	
							    <mat-card-title class="mat-card-header-text">{{list.vid}}</mat-card-title><mat-icon style="color: green;font-size: 18px;" matTooltip="">remove_red_eye</mat-icon>	    
							  </mat-card-header>
							   <mat-card-subtitle>{{list.expiryTimestamp | date:'dd/MM/yyyy h:mm'}}</mat-card-subtitle>
							   <p style="margin: 0 35px;"><mat-icon style="color: maroon;font-size: 18px;cursor:pointer;" (click)="revokeVID(list.vid)">delete</mat-icon></p>
							</mat-card>
						</mat-grid-tile>		  
					</mat-grid-list>		   	
				</td>
			</tr>
		</table>
	</mat-card>	
</div>


