<div class="main-container">
  <span class="breadcrumb">
    <a (click)="onItemSelected('dashboard')">{{'dashboard.home' | translate}} &nbsp;&nbsp;</a> > &nbsp;&nbsp;<a
      (click)="onItemSelected('uinservices/dashboard')">{{'dashboard.uinservices' | translate}} &nbsp;&nbsp;</a> >
    &nbsp;&nbsp;<a (click)="onItemSelected('uinservices/viewhistory')">{{'viewhistory.title' | translate}}</a> &nbsp;&nbsp; > <span
      class="active">{{"grievanceRedressal.title" | translate}}</span>
  </span>
  <div class="form-container">
    <mat-card class="form">
      <mat-card-title *ngIf="grievanceData.title" class="main-heading">{{grievanceData.title}}</mat-card-title>
    </mat-card>
     
  </div>
</div>