<div class="main-container">
  <span class="breadcrumb">
    <a
      (click)="onItemSelected('uinservices/dashboard')">{{'dashboard.uinservices' | translate}} &nbsp;&nbsp;</a> >
    &nbsp;&nbsp;<a *ngIf="source1 && popupMessages" (click)="onItemSelected('uinservices/viewhistory')">{{popupMessages.breadCrumbNames[source1]}}</a>
    &nbsp;&nbsp;<a *ngIf="source2 && popupMessages" (click)="onItemSelected('trackservicerequest')">> {{popupMessages.breadCrumbNames[source2]}}</a>
    &nbsp;&nbsp; >  &nbsp;<span class="active">{{"grievanceRedressal.title" | translate}}</span>
  </span>
  <div class="form-container">
    <mat-card class="form-card">
      <mat-card-title *ngIf="grievanceData" class="main-heading">{{grievanceData.title | translate}}</mat-card-title>
      <form #userForm="ngForm" (submit)="getUserData(userForm.value)">
        <div class="input-container">
        <div class="label-card" *ngIf="grievanceData">
          <label>{{grievanceData.namelabel}}</label>
          <br/>
          <label>{{grievanceData.emailidlabel}}</label>
          <br/>
          <label>{{grievanceData.alternateemailidlabel}}</label>
          <br/>
          <label>{{grievanceData.phonenumberlabel}}</label>
          <br/>
          <label>{{grievanceData.alternatephonenumberlabel}}</label>
          <br/>
          <label>{{grievanceData.eventidlabel}}</label>
          <br/>
          <label>{{grievanceData.commentlabel}}<span style="color: red;">*</span></label>
        </div>
        <div class="input-card" *ngIf="userInfo">
          <input [readonly]="true"   [(ngModel)]="userInfo.fullName" required type="text" name="name"/>
          <br/>
          <input [readonly]="true" [(ngModel)]="userInfo.email" type="text" name="emailId"/>
          <br/>
          <input [maxlength]="emailCharLimit"  placeholder={{grievanceData.alternateEmailPlaceholder}} placeholder="" [(ngModel)]="alternateEmailId" type="text" name="alternateEmailId"/>
          <br/>
          <input [readonly]="true" [(ngModel)]="userInfo.phone" type="text" name="phoneNo" ngModel/>
          <br/>
          <input [maxlength]="phoneCharLimit" placeholder={{grievanceData.alternatePhoneNoPlaceholder}}  [(ngModel)]="alternatePhoneNo" type="text" name="alternatePhoneNo"/>
          <br/>
          <input [readonly]="true" [(ngModel)]="eventId" type="text" name="eventId" ngModel/>
          <br/>
          <textarea [maxlength]="totalCommentCount" (input)="countCharacters($event)" placeholder={{grievanceData.EnterMsgPlaceholder}} rows="4" cols="55" name="message" [(ngModel)]="reportMsg"></textarea>
          <span style="color:red; font-size: 12px;">{{grievanceData.TotalCharacters}}: {{totalCommentCount}}</span>
          <span style="color:red; font-size: 12px;">{{grievanceData.remainingCharacters}}: {{remainingChars}}</span>
        </div>
        </div>
        <div class="bnt-card">
        <button class="submit-btn" *ngIf="grievanceData" mat-raised-button color="primary" type="submit">{{grievanceData.submitBtn}}</button>
      </div>
      </form>
    </mat-card>
  </div>
</div>