ul, li{
  list-style-type:none;
  padding: 2px 0px 3px 9px;
}
.mini-card {
  width: 362px;
  height: 170px;
  border-radius: 5px;
  background: #F4F4F4 0% 0% no-repeat padding-box;
  box-shadow: none;
  border: 1px solid silver;
  cursor: pointer;
}
.mini-card-yellow {
  width: 362px;
  height: 170px;
  border-radius: 5px;
  background: #FFF9DB 0% 0% no-repeat padding-box;
  box-shadow: none;
  border: 1px solid #F2CC0C;
  cursor: pointer;
}
.tp-radio-group {  
  display: inline-flex;  
  flex-direction: column;  
}  
.tp-radio-button {  
  margin: 5px;  
}  
.tp-selected-value {  
  margin: 15px 0;  
}  

.mat-button-toggle-checked{
  background-color: #03a64a;
  color: white !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: #03a64a !important;
}

.mat-card-sm-image{
  width: 32px;
  height: 32px;
}

mat-card-content > p{
  width: 100%;
  text-align: center;
}

mat-card-actions{
  width: 100%;
  text-align: center;
  padding-left: 15px;
}

mat-card-header, .mat-card-title{
  display: flex;
  align-items: center;
  justify-content: center;
}
