<span class="breadcrumb">
	<!-- <a (click)="onItemSelected('dashboard')">{{'dashboard.home' | translate}} &nbsp;&nbsp;</a> > &nbsp;&nbsp; -->
	<a (click)="onItemSelected('uinservices/dashboard')">{{'dashboard.uinservices' | translate}} &nbsp;&nbsp;</a> > &nbsp;&nbsp;<span class="active">{{'lockunlockauth.title' | translate}}</span>
</span>
<div class="spinner" *ngIf="showSpinner">
  <mat-spinner></mat-spinner>
</div>
<div class="main-div" *ngIf="!showSpinner">
	<mat-card>
		<h3 class="main-heading">{{'lockunlockauth.title' | translate}}</h3>
		<p class="intro-description">{{'lockunlockauth.introDescription' | translate}}</p>
		<mat-grid-list [cols]="cols" rowHeight="190px" gutterSize="10px" *ngIf="authlist">
			<mat-grid-tile *ngFor="let authInfo of authlist; let i = index">
				<mat-card (click)="setAuthlockStatus(authInfo)" id="setAuthlockStatus{{i}}"  [ngClass]="authInfo.recorddirty == false ? 'mini-card' : 'mini-card-yellow'" >
				  <mat-card-header>			  	
				    <mat-card-title><span><img src="assets\{{authInfo.label}}.png"></span>&nbsp;&nbsp;&nbsp;<span style="font-size: 14px;font-weight: 800;">{{authInfo.label}}</span></mat-card-title>	
					<mat-icon [matTooltip]="openPopUp(authInfo.label)" class="info-icon">info</mat-icon> 
					<div *ngIf="isPopupSHow && clickedId === (authInfo.label)" class="info-box">
						<p style="margin-top: 0px;">{{infoMsg}}</p>
						<p class="read-more-btn">{{readText}}</p>
					</div>
				  </mat-card-header>
				  <mat-card-content>
				    <p *ngIf="authInfo.locked"><img mat-card-sm-image src="assets\images\lock.png" ></p>
				    <p *ngIf="!authInfo.locked"><img mat-card-sm-image src="assets\images\unlock.png" ></p>
				  </mat-card-content>
				  <mat-card-actions>
				    <button style="margin-left: 1.5rem;" *ngIf="authInfo.locked" mat-stroked-button color="primary">{{'lockunlockauth.unlockLabel' | translate}}</button>
				    <button style="margin-left: 1.5rem;"  *ngIf="!authInfo.locked" mat-stroked-button color="primary">{{'lockunlockauth.lockLabel' | translate}}</button>
				  </mat-card-actions>
				</mat-card>
			</mat-grid-tile>		  
		</mat-grid-list>
		<button [disabled]="submitBtnDisable" id="updateAuthlockStatusBtn" mat-raised-button color="primary" (click)="updateAuthlockStatusBtn()">{{'verifyuinvid.submit' | translate}}</button>
	</mat-card>	
</div>


