ul, li{
  list-style-type:none;
  padding: 2px 0px 3px 9px;
}

table, th, td {
  border-collapse: collapse;
}

th, td {
  padding: 8px;
}

.demographic{
  cursor: pointer;
}

input.readonly{
  width: 100%;
  padding: 12px 20px;
  /* margin: 0 0 8px 8px; */
  display: inline-block;
  border: 1px solid #ccc;
  background: #F7F7F7 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: #909090;
}

.mat-input-element{
  width: 100%;
  padding: 8px 16px;
  display: inline-block;
  border: 1px solid #ccc;
  background: #F7F7F7 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: #909090;
}

label{
  font-size: 15px;
}

.mat-tab-group{
  padding-left:50px;
}




.container {
   height: 150px;
   padding: 2rem;
   border: dashed 1px #03A64A;
   background-color: #E8FDF2;
   position: relative;
}
.container input {
   opacity: 0;
   position: absolute;
   z-index: 2;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
 .container label {
   color: white;
   width: 183px;
   height: 44px;
   border-radius: 21.5px;
   background-color: #db202f;
   padding: 8px 16px;
}
.container h3 {
   font-size: 14px;
   color: #03A64A;
}
.fileover {
   animation: shake 1s;
   animation-iteration-count: infinite;
}
.files-list {
   margin-top: 1.5rem;
}
 .files-list .single-file {
   display: flex;
   padding: 0.5rem;
   justify-content: space-between;
   align-items: center;
   border: dashed 1px #03A64A;
   margin-bottom: 1rem;
   display: flex;
   flex-grow: 1;
}
.files-list .single-file .preview {
   display: flex;
   margin-left: 0.5rem;
   cursor: pointer;
   align-self: flex-end;
}
 .files-list .single-file .delete {
   display: flex;
   margin-left: 0.5rem;
   cursor: pointer;
   align-self: flex-end;
}
 .files-list .single-file .name {
   font-size: 14px;
   font-weight: 500;
   color: #353f4a;
   margin: 0;
}
 .files-list .single-file .size {
   font-size: 12px;
   font-weight: 500;
   color: #a4a4a4;
   margin: 0;
   margin-bottom: 0.25rem;
}
 .files-list .single-file .info {
   width: 100%;
}

.preview-heading{
  color: #505050;
  font-weight: 600;
}

.files-list {
  margin-top: 1.5rem;
}
.files-list .uploaded-single-file {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #000000;
  margin-bottom: 1rem;
  display: flex;
  flex-grow: 1;
  border-radius: 4px;
}

.files-list .uploaded-single-file .preview {
  display: flex;
  margin-left: 0.5rem;
  cursor: pointer;
  align-self: flex-end;
}

.files-list .uploaded-single-file .name {
  font-size: 14px;
  font-weight: 500;
  color: #353f4a;
  margin: 0;
}

.files-list .uploaded-single-file .size {
  font-size: 12px;
  font-weight: 500;
  color: #a4a4a4;
  margin: 0;
  margin-bottom: 0.25rem;
}
.files-list .uploaded-single-file .info {
  width: 100%;
}

.preview-agree-card{
   display: flex;
   align-items: center;
   justify-content:flex-end;
}

.identity-card{
  display: flex;
  align-items: center;
}
.edit-btn{
  border: none;
  background-color: transparent;
  margin-bottom: 5px;
}

.input-values-main-card{
   display: flex;
   align-items: center;
}

.address-page{
  display: flex;
  align-items: center;
  justify-content: space-between;
}