<span class="breadcrumb">
	<a (click)="onItemSelected('dashboard')">{{'dashboard.home' | translate}} &nbsp;&nbsp;</a> > &nbsp;&nbsp;<a (click)="onItemSelected('uinservices/dashboard')">{{'dashboard.uinservices' | translate}} &nbsp;&nbsp;</a> > &nbsp;&nbsp;<span class="active">{{'updatedemographic.title' | translate}}</span>
</span>

<mat-tab-group animationDuration="0ms">
  <mat-tab label="{{'updatedemographic.identity' | translate}}">
  	<div *ngFor="let field of schema['identity']; let i = index" class="mat-form1">
  		<div layout = "row" *ngIf="field.tabgroup === 'identity'">
	        <!-- <div>{{field.description}}{{field.tabgroup}}</div> -->
	        
	        	<div flex = "50">
	        		{{field.description}}
		        </div>
		        <div flex>
		        	{{field.tabgroup}}
		        </div>
	    </div>
  		
  		<!-- <mat-form-field *ngIf="field.inputType === 'text'">           
            <input
              #{{field.id}}
              id="{{field.id}}"
              (blur)="captureValue($event, field.id, 'primary')"
              matInput
              placeholder="{{
                field.label[primaryLang] | translate
              }}"
              [value]="primaryData[field.name]"                        
              required={{field.ismandatory}}
              readonly = true
            />
        </mat-form-field> -->
  	</div>
  </mat-tab>
  <mat-tab label="{{'updatedemographic.address' | translate}}">
  	
  </mat-tab>
  <mat-tab label="{{'updatedemographic.contact' | translate}}">
  	
  </mat-tab>
  <mat-tab label="{{'updatedemographic.languagePreference' | translate}}">
  	
  </mat-tab>
</mat-tab-group>

