ul,
li {
  list-style-type: none;
  padding: 2px 0px 3px 9px;
}

.mini-card {
  width: 90%;
  height: 90%;
  border-radius: 7px;
  margin-bottom: .5rem;
  padding: .5rem;
  cursor: pointer;
}

mat-card>span img {
  margin: 0 16px;
}

mat-card-title {
  cursor: pointer;
}

.services-description {
  font-size: 13px;
  padding-left: 12px;
  color: #909090;
  opacity: 1;
}

.main-card {
  background: #d7d1d11a;
  height: auto !important;
}

.uin-heading {
  text-align: left;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #505050;
  cursor: none;
}

@media  screen and (max-width: 1690px) and (min-width:1410px) {
  .main-card{
    height: 35.5rem;
  }
}

@media  screen and (max-width: 1409px) {
  .main-card{
    height: 37rem;
  }
}

