ul, li{
  list-style-type:none;
  padding: 2px 0px 3px 9px;
}
.mini-card {
  width: 90%;
  height: 50%;
  border-radius: 5px;
}

mat-card > span img{
  margin: 0 16px;
}

mat-card-title {
  cursor: pointer;
}